[2011-11-11 15:16] samuell opened #1 "Access Swestore National Storage via the iRODS SRM Module"
Compile and install the iRODS SRM module available at:
http://tu-dresden.de/die_tu_dresden/zentrale_einrichtungen/zih/forschung/grid_computing/iRODS
... and use it to connect to SweStore National Storage.

[2011-11-11 15:21] samuell opened #2 "Install iRODS on biologin"

[2011-11-11 15:21] samuell commented on #2
Fixed!

[2011-11-11 15:21] #2 closed, assigned to samuell

[2011-12-01 14:47] brainstorm opened #3 "Upgrade to iRODs 3.0"
... on biologin.

[2011-12-07 18:13] jhagberg commented on #3
I need access do you fix Samuel?

[2011-12-07 18:16] jhagberg opened #4 "Activate account on UPPMAX"
Behöver mitt Jonas konto aktiverat.
Kanske Jukka vill att jag ska skriva något sekretessavtal eller sekretessförbindelse?

[2011-12-07 18:34] samuell commented on #4
Ah, just det ... ska kolla, och frska fixa imorgon!

// Samuel

2011/12/7 jhagberg <
reply@reply.github.com

[2011-12-07 18:35] samuell commented on #3
Yes! Thanks for the reminder ... has been so busy with other stuff. Will
try to fix tomorrow!

// Samuel

On Wed, Dec 7, 2011 at 7:13 PM, jhagberg <
reply@reply.github.com

[2011-12-11 18:21] jhagberg opened #5 "Direct access vault"
How should we handle direct file access of files that we still want to do be handled by iRODS ?

Should we dig in to iRODS as ROOT

or still try the other way with non root user owning every vault file and fiddling around with sticky bits and separate folders and resources?

[2011-12-12 12:31] brainstorm commented on #5
Well, in general we should stick with the principle of least privilege:

http://en.wikipedia.org/wiki/Principle_of_least_privilege

That means that the second way should be preferred.

[2011-12-12 12:42] jhagberg commented on #5
Yes I agree.
But I am not sure at this moment that it is the best solution.

have you read about this page
https://www.irods.org/index.php/Run_server_as_root

About the uppcomming Direct acess vault.

[2011-12-12 13:04] brainstorm opened #6 "Implement basic transfer and secure removal of datasets"
Really basic story:

We have machines A and B. They both contain the same data (allegedly). A common task consists on:

1) Check that a list of files is present on both machines.
2) Check their respective MD5 sums.
3) If 1 and 2 are OK, delete datasets on machine A.

Deliverables:

1) Push iRODs rules/configs on this repo that allow you to do that.
2) Spawn different issues (simpler subtasks) with

[2011-12-12 13:05] brainstorm commented on #5
Thanks for the pointer Jonas ! I still think we shouldn't run it as root until we see a crucial need for it.

For now I think we should focus on simple use cases. Please could you have a look at issue #6 and report back ?

Thanks !

12 dec 2011 kl. 13:42 skrev jhagberg:

[2011-12-12 13:09] jhagberg commented on #5
Yes I agree. It is always best to not run things as root.

I will have a look.

cheers

[2011-12-12 13:31] jhagberg commented on #6
Can you elaborate.?

Is machine A and B iRODS servers? iRODS clients?
Is data on iRODS or you want to put the data in iRODS?

[2011-12-12 13:42] brainstorm commented on #6
Ok a bit more fine grained:

Machine A (client) : Close to the sequencer(s) at scilifelab.
Machine B (server): UPPMAX itself.

The data is ouside iRODs, then, the idea would be to push it into iRODs when it reaches UPPMAX and delete it automatically from the client after the appropiate checks have passed.

I would love to have this use case implemented. I hope the idea is clearer now :)

[2011-12-12 13:47] jhagberg commented on #6
Aha :)
Much clearer now!

I will stick my head in to this. This is something I have wonderd about how to solve this my self. To iput something in to iRODS is just to make a copy of the file. You rather want a function to "imove" into iRODS with a good data integrity check.

[2011-12-13 14:48] jhagberg commented on #6
Hej

Are your idea to have this all solved by iRODS server och iRODS client?

I do not think that is possible today. I guess a wrapper command/script on server A is needed to be implemented.
This script can do irsync to sync up files then get out all the checksums that now are stored in iRODS and verify them locally or simply run irsync twice. And then afterwards delete the local files.

In the el

[2011-12-13 15:21] samuell commented on #6
Maybe we should check what kind of checks the client does already? I guess it might do some kind of "rolling checksum" similar to what rsync does ... then, could this suffice for this use case?

[2011-12-13 15:24] samuell commented on #5
Jonas: I liked the way you had figured out, in order to be able to at least _read_ files directly, even though they are inside the vault, but still needing to iput files for any writing. ... then one could implement some functionality for automatically retrieving the physical path to the file, for reading, possibly in some kind of wrapper ,,,

How was is it, did you/we document this setup somewher

[2011-12-13 15:29] samuell commented on #1
@jhagberg: I'm realizing more and more how hard it is for me to find time to work on these things ... Do you think you could have a look on this one, as soon as we get up a test node, where you have sudo access?

Feel free to tell if you think we should split our work in another way. I just think this is kind of the main stumbling block right now before we can start to play with things in practice

[2011-12-13 16:04] brainstorm commented on #6
+1 on @samuell comment.

Jonas, I would go this way:

1) Try first with using the bare client to do so (as samuel suggests, it should be enough, imho).
2) Implement wrapper if 1 is not enough.
3) Push the resulting wrapper/command with minimal instructions on how to use it to the repo.

Completing this as a proof of concept can help us as a stepping stone to go towards more refined solutions (patc

[2011-12-13 16:31] samuell commented on #1
@jhagberg: ... I will see if I find some time to get started on this though, but feel free to dig in if you feel like it! :) ... the sooner the better ...

[2011-12-13 18:14] jhagberg commented on #5
Hej

Check the internal page. I guess I never had time to finish the setup before I left, so it was still on idea basis, with one practical real life test.

The issues with that solution is that one user have access to a lot of different data since the iRODS user need to be the owner of all the file. If that user is compromised it have access of a lot of important data.

The idea of the direct acc

[2011-12-14 10:10] samuell opened #7 "Patch the iadmin client to support tab completion, editable cmds, cmd history"
I'm going crazy over the unfriendliness of the iadmin client, since it:
- Does not allow tab-completion of commands and params
- Does not let you step backwards with the arrow keys and edit the command
- Does not let you step back in your command line history with the up arrow (if i remember correctly)

Have sent this to the mailing list long ago as a wishlist, but nobody seems to have time to fix

[2011-12-14 16:04] jhagberg commented on #1
To work with this we need a new server grid certificate.

Perhaps we need a new test volume on swestore and a server proxy cert for u5.
Samuel can you fix this?

[2011-12-14 16:06] jhagberg commented on #1
@samuell  Can you also check with Swestore if it is possible to use gsiftp?

Does it exist a
gsiftp://swestore.se?

or is arccp the only way?

[2011-12-14 16:32] samuell commented on #1
@jhagberg: You are very much right about a test volume. Always thought it feels scary to play with the full uppnex account ... especially since there is not even backup on Swestore, only simple mirroring.

Regarding GsiFTP, I have been talking to the Swestore guys about this earlier. They say that the SRM protocol (which is used by the ng\* commands) actually wraps the GsiFTP, which in turn is tol

[2011-12-14 16:40] samuell commented on #1
(Have now mailed Tom and Swestore Support, for a test volume, and server cert for u5 ...)

[2011-12-14 16:43] jhagberg commented on #1
Yes but it say that the SRM with gsftp module make it possible to load
files on and off dCACHE
Den 14 dec 2011 17:32 skrev "Samuel Lampa" <
reply@reply.github.com

[2011-12-14 16:45] jhagberg commented on #1
Server cert you need to fix yorself for the server.
Den 14 dec 2011 17:40 skrev "Samuel Lampa" <
reply@reply.github.com

[2011-12-14 16:46] samuell commented on #1
@jhagberg Ah, right .... but, "GridFTP" you mean? (

"[...] Combinded with the _GridFTP_ module SRM based file transfers are possible [...]"
http://tu-dresden.de/die_tu_dresden/zentrale_einrichtungen/zih/forschung/grid_computing/iRODS

Well, I'll raise the question with the SweStore guys again!

[2011-12-14 16:48] jhagberg commented on #1
Yes and in the module readme they use gsiftp://
Den 14 dec 2011 17:46 skrev "Samuel Lampa" <
reply@reply.github.com

[2011-12-14 17:07] samuell commented on #1
Ah, I see!

Mattias Wadenstein that there is gsiftp addresses, but no permanent ones ... instead one has to talk the SRM protocol in order to get a GsiFTP dynamically. (I guess this is part of how they do the "round-robin" functionality of spreading things on different storage pools ...).

Excerpt from the chat:

----------Swestore chat-room-----------
samuel.lampa 05:47:26 PM
Hmm, alltså, jag har

[2011-12-14 17:45] samuell commented on #3
Just for the record: I tried to compile the 3.0 version on my Ubuntu 11.10 32bit laptop, just to have something to play with, but it failed, so I filed a bug: https://www.irods.org/bugzilla/show_bug.cgi?id=143

(Even more for the record, @jhagberg should have some kind of access to our u5 test machine now.)

[2011-12-15 10:23] samuell commented on #3
... and Tore is now reconfiguring the network, so that u5 should soon not be as sluggy as sluggish as it has been.

[2011-12-15 11:06] jhagberg commented on #3
Great!

[2011-12-15 12:49] brainstorm opened #8 "Archive and delete"
Scenario: A run has been completed and transferred to a project folder, it occupies several GB.

Action: After 2 months (or any other arbitrary timeframe). It should be automatically moved to long term archival and deleted from the original location.

[2011-12-15 12:54] brainstorm opened #9 "Detect duplicates"
Basic primitive: Detect which data has been unnecessarily been duplicated across the filesystem(s). Can be reused by higher level modules.

Scenario: A user has copied several .fastq files with same content across the filesystem.

Action: Detect them and compile a list with paths to those.

[2011-12-15 12:56] brainstorm opened #10 "Apply compression to common data formats"
.sam files should not be present for more than X months on the filesystem. Automatic conversion to .bam can be performed.

Likewise, unused .fastq files (for a reasonable amount of time), should be compressed to .gz, which many bioinformatic tools support natively.

[2011-12-15 13:05] samuell commented on #10
Very interesting ideas! I wonder though how that fits in with our current plan, that iRODS mostly would handle data when stored on SweStore, while when running analyses, one would check out data as normal files (basically since handling data directly, via iRODS is quite cumbersome).

I think these are the kind of things for which an IRL meeting could help ... to decide on what we should aim for in

[2011-12-15 13:09] jhagberg commented on #9
iRODS controlled files? Filesystem?

[2011-12-15 13:10] samuell commented on #9
Would be very nice. Though, as written in another issue, I wonder how this can be integrated with our iRODS strategy. As long as files are managed by iRODS, iRODS can manage multiplicity (and actually deviates the need for it at all), and while files are outside iRODS, it is harder to have iRODS keep track of them in a good way, without loosing the sync between the file system and it's metadata ca

[2011-12-15 13:12] samuell commented on #8
Yes. Should be fully possible with iRODS "digest" mechianisms (have seem mentioned about people doing this kind of stuff, I think)

[2011-12-15 13:16] jhagberg commented on #10
Yes I agree. Much what I have thought iRODS can do !

I feel that we really need a design.
A concept how to work.  How to use iRODS as a help and a tool in the day to day work. Perhaps we need help from other experts in that discussion.

Direct access vault can bee a good way to come around the iget/iput problem. Then just iput the results from analysis and by metadata associate the result with di

[2011-12-15 14:10] samuell commented on #9
If we had tons of iRODS slaves, we could of course run iRODS FUSE everywhere :) ( ... but probably never ever get any speed close to panasas ... :( )

[2011-12-15 15:05] jhagberg commented on #9
Nope.

But I think we have a proof of concept how to use the speed of panasas but still have the files managed by iRODS.

panasas should be one or many "resources" in iRODS. As well as SweStore.

I need to investigate if there exist some kind of "dedup" in iRODS.

[2011-12-15 19:59] jhagberg commented on #3
u5 is now running iRODS 3.0

[2011-12-15 19:59] #3 closed, assigned to samuell

[2011-12-15 21:24] samuell commented on #3
Cool! :)

[2011-12-16 10:09] samuell commented on #1
Have applied for a TCS server cert for u5 now.

Also, Tom said that we can create a testfolder under the the "ops" folder, if we become member of (or let the server cert become a member of) the ops_test voms group.

Just gotta wait for the cert paper work to get through ...

[2011-12-16 20:58] jhagberg commented on #1
@samuell Could you check if  "Globus GSI Libraries" are on place on u5 and Globus Toolkit libraries
I am missing srm_types.h when trying to complie srm module

[2011-12-17 08:14] jhagberg commented on #1
Hej
Need to have
srm-ifce installed

I do not know yet if it is bundled in any rpm but it looks like it is a part of lcgutil
https://svnweb.cern.ch/trac/lcgutil/browser/srm-ifce?rev=4651

[2011-12-17 09:03] samuell commented on #1
Ah, there we go ... bit closer to the solution ... will have a look ...

[2011-12-17 09:12] samuell commented on #1
Aarrgh ... seem to only be rpms available for sl5 ... :(
http://etics-repository.cern.ch/repository/download/registered/emi/emi.lcgutil.srm-ifce/1.1.0

(Otherwise multiple srm stuff here: http://etics-repository.cern.ch/repository/download/registered/emi )

[2011-12-20 17:01] #4 closed, assigned to olas

[2011-12-21 13:41] brainstorm opened #11 "Keep MD5 checksums through pipeline operations"
Related to:

https://github.com/SciLifeLab/bcbb/issues/53

All machines the data has been transferred to should keep checksums to trace back possible data corruption/loss.

[2011-12-21 13:58] jhagberg commented on #11
Please explain more.

All machnies?
iRODS external control script program that keep tracks of md5sum?

Today checksums is built in in iRODS metadata. And iRODS have control over integrity of files in iRODS name space.

you want wrapper to iget and imetadata that grabs filedata and a md5sum?

[2011-12-21 14:00] samuell commented on #11
Just some notes here, FYI:

We should carefully consider what kind of checksum to use. I think it might be worthwhile considering using adler32 checksums rather than md5sums, since adler32 is what is automatically calculated (and periodically updated) on the Swestore National Storage.

In spite of the bit lesser safety with adler32 as compared to md5sums, we went for this option of the above reaso

[2012-01-11 16:04] brainstorm commented on #11
@jhagberg My idea was more in the line of a typical computer forensics "chain of custody". There should be a simple way to check that the data has not been altered in any of the different transfers it has gone through.

@samuell, unfortunately ichksum (and I would assume iRODs internally) does not seem to support adler32, so we cannot use it right now.

[2012-01-11 16:07] brainstorm commented on #9
Sorry guys, I was merely referring to dedup within iRODs, not on the (external) filesystem(s).

[2012-01-11 16:08] brainstorm commented on #8
Good :) Needs a simple proof of concept then.

[2012-01-11 19:44] jhagberg commented on #1
Should we close this case?

[2012-01-11 19:50] jhagberg opened #12 "Best integration: iRODS and SweStore"
Issue for figure out the best way of integrating iRODS and SweStore.
Possible ways:
- Universal mass storage system and "arc" commands
- Universal mass storage system and webdav with webdav client, or lftp
- POSIX module and pNFS

[2012-01-11 21:27] samuell commented on #12
Yeah, I guess #2 is the one to go for to get going ... while we wait for Jens to fix the #3, afais? (he's working on it, but has limited time).

I have got the u5 server cert added to the test area on Swestore, so I hope to get some progress there soon. Unfortunately I have succeeded to connect with lftp only with rot, but not u5, which is kinda strange.

Something tells me it could be some nordug

[2012-01-11 21:28] samuell commented on #12
I havent' yet wrote up the UnivMSS driver template file for lftp yet, so that is a task free to pick for anyone feeling for it :)

[2012-01-11 21:30] samuell commented on #1
@jhagberg I guess, yes, focusing on lftp/univMSSdriver instead, I guess ... (closing now)

[2012-01-11 21:30] #1 closed, assigned to jhagberg

[2012-01-21 11:27] jhagberg commented on #12
I managed to compile a lftp with openssl. And I can connect. But I got segmentation error when trying to list files.
Samuel perhaps you can install a openssl verision of lftp? I have not manage to get cadaver to work with ssl either.
What is the status of pNFS?

[2012-01-23 11:52] samuell commented on #12
Cool with some progress ... strange with the segfault ... is it that typical error that we saw before ... something with "message of unknown length received" or something?

Regarding pNFS, I've heard that Jens is working on it now and then, but that it will probably will take some time, so it would indeed be great if we could have some univMSSdriver based solution available before that. But if we

[2012-01-23 14:43] jhagberg commented on #12
It just segfault with no message what so ever.
Perhaps you can search for a lftp-openssl rpm that is suited for our
linux dist?

Right now In the view of stability the univMSSdriver+arccp looks more
stable than the univMSSdriver+webdavclient...
In the long run pNFS is what we want hopefully.

On Mon, Jan 23, 2012 at 12:52, Samuel Lampa
reply@reply.github.com
wrote:

[2012-01-24 15:15] samuell commented on #12
Fully agree!

Hope the new e-Science cert (as reported per mail) works better!

[2012-01-27 12:40] jhagberg opened #13 "Procedure for user .irodsenv file"
In this wiki page I am describing the OS auth function of irods.

https://github.com/UPPMAX/irods/wiki/irods-OSauth

When new users are added to irods they should not start by creating a hidden config file themself enabling osAUTh
setting default folder and so on.

We need to figure out a way to do this automatically and decide where user should be located when first accessing irods.

Since we do

[2012-01-30 08:41] jhagberg commented on #12
I have fixed the e-Science robot cert and now have a working univMSSdriver with local cache.
I upload/download works but delete just delete from iRODS but leave on sweStore. I got a error but I have not figured out what is the problem yet...

[2012-01-30 11:37] samuell commented on #12
On Mon, Jan 30, 2012 at 9:41 AM, jhagberg
reply@reply.github.com
wrote:

Ok, so somehing strange with the ngrm (or arcrm) command?

// Samuel

[2012-01-30 18:50] jhagberg commented on #12
Nothing wrong with arcrm command.
I can delete file manually.
But error message with iRODS.
I will work more with debugging.

[2012-01-30 19:22] jhagberg commented on #12
irm error:

ERROR: rmUtil: rm error for /testZone1/home/rods/iRODS.backup.20111216.1356.tar.gz, status = -305111 status = -305111 USER_SOCK_CONNECT_ERR, Connection refused

It looks like it not even running the rm command in the bash file...

[2012-01-31 16:45] samuell commented on #12
Hmm, strange ... so what does the bash file look like?
(Maybe you can paste into a gist on gist.github.com?)

[2012-01-31 20:44] jhagberg commented on #12
Yes
Here it is with my small debug codes
https://gist.github.com/1712793

[2012-01-31 20:56] jhagberg commented on #12
typo:

arcrm -t=5
should be arcrm -t 30

But now I got another error I cant put files to sweStore...

[2012-01-31 20:56] jhagberg commented on #12
iput -R sweStore irods3.0.tgz
ERROR: readMsgHeader:header read- read 0 bytes, expect 4, status = -4115
ERROR: readAndProcApiReply: readMsgHeader error. status = -4115 status = -4115 SYS_HEADER_READ_LEN_ERR, Operation now in progress
ERROR: putUtil: put error for /testZone1/home/rods/irods3.0.tgz, status = -4115 status = -4115 SYS_HEADER_READ_LEN_ERR, Operation now in progress
Client Caught broken

[2012-02-01 20:12] jhagberg commented on #12
Looks like iRODS database is full of old garbage.

I can iput new files. but not a file that I before had iput and then irm...
Perhaps We need to purge database or something...

[2012-02-02 07:58] samuell commented on #12
Might be useful:
https://www.irods.org/index.php/iRODS_Error_Codes

[2012-02-02 08:01] samuell commented on #12
Is the "trash" emptied (as you suggested, Jonas)?

[2012-02-02 08:07] jhagberg commented on #12
New error in log file on irm error.

Feb  2 09:04:39 pid:31381 NOTICE: rsAuthCheck user rods#testZone1
Feb  2 09:04:39 pid:31381 NOTICE: rsAuthResponse set proxy authFlag to 5, client authFlag to 5, user:rods#testZone1 proxy:rods client:rods
Feb  2 09:04:40 pid:31381 NOTICE: connectToRhostWithTout: connect error, errno = 111
Feb  2 09:04:40 pid:31381 NOTICE: connectToRhostWithTout: connect error,

[2012-02-02 08:10] jhagberg commented on #12
iadmin lr sweStore
resc_id: 10023
resc_name: sweStore
zone_name: testZone1
resc_type_name: MSS universal driver
resc_class_name: compound
resc_net: srm.swegrid.se
resc_def_path: /irodstest
free_space:
free_space_ts:  : 1970-01-01.01:00:00
resc_info:
r_comment:
resc_status:
create_ts: 01327668354 : 2012-01-27.13:45:54
modify_ts: 01327668354 : 2012-01-27.13:45:54

[2012-02-02 08:22] jhagberg commented on #12
Problem solved with irm.

iRODS want to connect to net resource. It thinks that it is a another irods server.

I changed the compound resource from srm.swegrid.se to localhost.
So the line in the wiki should be:

mkresc sweStore 'MSS universal driver' compound localhost /irodstest

I can now delete file from iRODS

[2012-02-02 08:25] jhagberg opened #14 "trashbin?"
Should we have trashbin or not?
What is your suggestion?

[2012-02-02 08:31] jhagberg commented on #12
For now this issue is closed.
Will open new one for future work with pNFS.

[2012-02-02 08:31] #12 closed, assigned to nobody

[2012-02-02 08:40] brainstorm commented on #14
From the WTSI paper:

"
With the trashcan function enabled, even when data are removed from iRODS they are still physically located in the storage device. This will lead to an accumulation of redundant data in the disks. Thus, this function should be switched off. This policy could also be configured to periodically empty the trashcan in order to avoid decreasing system responsiveness with deletio

[2012-02-02 08:49] jhagberg commented on #14
Yes for now when testing we can deactivate it. But should we have a trashbin function or not in the future on the production system? If you delete a file on sweStore it is gone for ever! No DR-backup at all on sweStore. As far as I know.

[2012-02-02 09:03] brainstorm commented on #13
@jhagberg , correct me if I'm wrong, I'm not sure I understood the issue:

Putting a hidden .irods file on a new users folder can be automated by defining it in /etc/skel, the standard UNIX way.

For already created users a simple script that copies .irodsenv files once would be enough.

In addition, by the least surprise principle, keeping the same directory hierarchy on irods would be the way to

[2012-02-02 09:21] brainstorm commented on #14
Then the periodic strategy would work best, say, flush trashbin every 5-6 months ? Or whatever the storage system allows us to.

[2012-02-02 10:23] dahlo commented on #14
If we have snapshots activated on panasas, isn't the trashbin unnecessary?

On second thought, I'm guessing that the files that are checken in in irods
will not change that often. All analysis is carried out outside of irods,
right?

Is is easy to turn the trashbin off if we discover it is too space
consuming?

Mvh
Martin
On Feb 2, 2012 9:25 AM, "jhagberg" <
reply@reply.github.com>
wrote:

[2012-02-02 11:12] jhagberg commented on #14
Snapshots will not help file on sweStore.

It might be possible to do analyses directly with iRODS.

It is easy to turn off trashbin.

[2012-02-02 13:23] dahlo commented on #14
If it is easy to turn off, then start with in on. We'll see if it's
possible to keep it.

Mvh

## Martin

m.dahlo@gmail.com
+46 706 70 79 55

On Thu, Feb 2, 2012 at 12:12, jhagberg <
reply@reply.github.com

[2012-02-07 07:18] brainstorm commented on #6
While Installing irods clients on scilifelab pre-processing machines, the ones that get datasets directly from the sequencers I realize that having a dedicated user account at the other end (UPPMAX: "hiseq" user) would help if we don't want to have a personal user account being used for data management operations.

To put it simply, having a hiseq user at UPPMAX would be the equivalent of not havi

[2012-02-07 10:41] samuell commented on #13
Who is the one that should be assigned these tasks? Let me know if you need help with anything.

[2012-02-07 11:08] jhagberg opened #15 "irsync creates replicates on disk but not in iRODS"
I have tested irsync and it puts file to sweStore but it also put files on the disk cache.
But irods thinks that this replica does not exist.

itrim command dont work. But when trying to iget file it looks like it reads directly from cache and not from sweStore with arc..

[2012-02-07 11:11] samuell commented on #15
Yeah, I think the default behaviour of irsync is to sync to all the
resources in one resource group, at least if not specifying the
resource group explicitly with some flags ...

For reading, yes, I suppose this is also the supposed behaviour, to
read directly from cache, at least if the file is there, no? ... and
otherwise download it to cache first, and read it from there?

Or am I missing somet

[2012-02-07 11:12] jhagberg commented on #15
My bad itrim command works if typing it corectly. (trim -N1 -V -r -S sweStoreCache 9832)
So I always get one replica in cache filesystem when using a compound resource...

We need a rule to look after the cache folder and "trim" replicas...

[2012-02-07 11:12] #15 closed, assigned to nobody

[2012-02-07 11:28] jhagberg commented on #15
Hej I closed this before I read your comment.

I was missguided by the ils output..

an ils -l
give

  rods              0 sweStoreCache             1048576 2012-02-03.13:33 & fef132fd5889e4d4379ee257e8f817e3
  rods              1 sweStore                  1048576 2012-02-03.13:33 & fef132fd5889e4d4379ee257e8f817e3
  rods              0 sweStoreCache               20167 2012-02-03.13:24 & md5sums

[2012-02-08 11:57] jhagberg opened #16 "bug or problem with arccp"
Issue to my self and project.

arccp command fails if a file already exist on local filesystem. This means that if you have started a transfer with arccp and it gets aborted a empty file with the same filename may exist in local irods cache folder. If you restart the iget command arccp will fail and you will never get your file back...

the force flag dont work with arccp from swestore to local fi

[2012-02-08 11:59] samuell commented on #16
Could it be acceptable to add an rm command before the arccp command runs?
(I guess you can add multiple commands in the function wrappers in the
univMSS file?)

On Wed, Feb 8, 2012 at 12:57 PM, jhagberg
reply@reply.github.com
wrote:

[2012-02-08 12:03] jhagberg commented on #16
Good idéa I can add a simple bash check if file exists then delete it before arccp...

I fix.

[2012-02-14 13:44] jhagberg commented on #16
The bash work around is working stable so far.

[2012-02-14 13:44] #16 closed, assigned to nobody

[2012-02-17 12:28] brainstorm commented on #13
@jhagberg Could you put a typical (or your working one) .irodsEnv file somewhere in the wiki ?

Given your template, we can script it away pretty easily.

[2012-02-17 12:30] brainstorm commented on #11
We shouldn't need to worry about this, I've seen it's pretty well handled on irods itself, by design.

@samuell for simplicity, let's do it with md5 for now, we can explore the adler alternative on next iterations.

[2012-02-17 12:30] #11 closed, assigned to nobody

[2012-02-17 12:38] brainstorm commented on #5
At this point I guess a decision has been taken on this (which user to run on):

https://github.com/UPPMAX/irods/wiki/iRODS-as-super--user-root

Therefore, should we close this ?

[2012-02-17 12:50] samuell commented on #11
@brainstorm Yeah, md5 is actually better than adler32. It just takes 10 times more CPU cycles, but it might well be worth it, of course.

[2012-03-12 09:25] brainstorm opened #17 "Migrate swestore custom chunk structure to iRODS"
"ils" should be able to list the datasets as they are stored on swestore today by using a wrapper... or migrate them (by dowloading them and "iputting" them back via irods).

[2012-03-12 09:34] jhagberg commented on #17
This should be put on the production system and not the test system.

It should be possible to set up a second zone to handle this read only in the test. The problem is the univMSSdriver and how to handle a second resource with a different driver.

I can ask Irods list.

[2012-03-13 13:17] jhagberg commented on #17
Link to iRODS question
https://groups.google.com/d/msg/irod-chat/w6k_w-pKz9I/wSbEiIxXL2AJ

[2012-03-20 12:55] brainstorm commented on #17
Is it possible to register the long term storage objects as "immutable" (readonly) so that we can safely experiment on the test system without risk of overwriting "production" files ?

[2012-03-20 13:31] samuell commented on #17
@brainstorm I have in the plans now to try to set up a "read-only" swestore resource on rot, rather than u5. I think that would solve both of the issues we have seen with having it on u5 (disturbint the "sandbox" nature of it, and the problem with multiple univMSS drivers on same machine).

Just has to get the hardware spec, and buy, done first.

[2012-04-10 09:54] jhagberg commented on #8
This is now sort of possible with the iRODS rule. (https://github.com/UPPMAX/irods/blob/master/rules/uppnexReplAndTrim.r)
Depending on what scenario you see.
Please extend your comment.

The current iRODS rule will trim replicas of file to 1 replica on "long time archive" If no replica on archive exist it will first replicate the file then trim file och cache.  This will be after a arbitrary timef

[2012-04-10 09:54] #8 closed, assigned to nobody

[2012-04-10 10:06] jhagberg commented on #6
A way to solve this.

Machine A (client) : Close to the sequencer(s) at scilifelab.

Running irods client. Connects to iRODS server at UPPMAX.
Transfer files with irsync and appropriate flags to check with md5sum.
When transfer is complete delete file on local storage. Or recheck the checksum to ensure that files are good.

[2012-04-10 10:06] #6 closed, assigned to brainstorm

[2012-04-10 10:08] jhagberg commented on #10
Can you help sketch up the outline of the rules?

I can then write a periodic rule to check for files, bundle them and apply compression or just apply compression and then archive.

[2012-04-10 10:19] jhagberg commented on #9
I have asked a short question on iRODS chat about deduplication.
http://groups.google.com/group/irod-chat/browse_thread/thread/2a291b45d71ef701

[2012-04-10 10:22] jhagberg commented on #7
This should be solved in 3.1

"Auto-completion script. There is now an auto-completion script for Bash, irods_completion.bash in the iRODS directory. Thanks to Bruno Bzeznik of the French CIMENT project OAR Team for this contribution"

Please test it out.

[2012-04-10 10:22] #7 closed, assigned to samuell

[2012-04-10 10:22] jhagberg commented on #5
Closing

[2012-04-10 10:22] #5 closed, assigned to jhagberg

[2012-04-10 10:24] jhagberg commented on #13
Samuel.

Can you think how UPPMAX want to present iRODS for their users.
Should we automate the irodsENV file or should they input the variables when first doing a iinit?

[2012-04-18 08:01] brainstorm commented on #13
Guys, as I said, this is just setting up a template on /etc/skel (and/or during the creation of an LDAP user) with reasonable defaults:

<pre>
irodsHost $HOSTNAME
irodsPort 1247
irodsUserName $USER
irodsZone testZone1
</pre>

[2012-04-18 08:41] brainstorm commented on #9
As they comment in the list, _detecting_ is fairly simple, that's what we want to go for, for now, that would be very valuable.

[2012-04-18 14:08] jhagberg opened #18 "irodsReServer random? segfault"
On u5 test iRODS. Rule server segfault looks like random or just after reload of core.re...

Apr 17 12:26:36 u5 kernel: irodsReServer[24725]: segfault at 10 ip 0000000000520fe9 sp 00007fffbd8282a0 error 4 in irodsReServer[400000+1cb000]

[2012-04-18 14:21] brainstorm commented on #10
We will irsync files that follow those globs to uppmax:

https://github.com/SciLifeLab/bcbb/blob/master/nextgen/scripts/illumina_finished_msg.py#L239

Then, a first approach would be to look for uncompressed fastq files within irods (there will be under fastq/ dir) and compress them using gzip, md5summing the resulting file.

We want to have easy access to metadata, so the fastq folder (biggest) s

[2012-04-18 14:21] jhagberg commented on #18
Here is what I got from the gdb and the core file.

[code]

[2012-04-18 14:27] brainstorm commented on #18
Wow, pointer issues on rule nodes... bad mojo :-/

Does it fail on the same line all the time ? Can you reproduce the bug with a simple proof of concept (i.e cmdline) ?

This is to discard memory/hardware problems with our testing server... if it's deterministic we can at least report it to irods-chat.

[2012-04-18 14:32] jhagberg commented on #18
Another segfault on same bin from 4 april

[code]

[2012-04-18 14:33] jhagberg commented on #18
Then we also have some segfaults on irodsAgent but that maybe should be another issue.

[2012-04-18 14:34] brainstorm commented on #18
Could be a hardware issue, can you guys please run a memtest or similar today by night ?

[2012-04-18 14:35] jhagberg commented on #18
Just before the segfault this was written to the log

[code]

[2012-04-18 14:42] dahlo commented on #18
Yes, very weird. A memtest to rule out hw issues would be nice to safely rule that out.

[2012-04-18 14:45] jhagberg commented on #18
The hardware is old on u5...

I will try copy all the address...

irodsAgent
26 mar 12.27 core.24119
address 0x7fff12263428

29 mar 07.33 core.24874
0x7fff8930f998

29 mar 07.33 core.24885
0x7fff40dd4f68

29 mar 07.49 core.25169
0x7fff4818a758

29 mar 07.52 core.25187
0x7fff9be948a8

irodsReServer
4 apr 19.09 core.26724
0x7fffb8ac5ca8

17 apr 12.26 core.24725
0x7fffbd828398

No address is exactly

[2012-04-18 14:48] brainstorm commented on #18
Of course they're not the same, since many years ago Linux uses ASLR:

http://en.wikipedia.org/wiki/Address_space_layout_randomization

Please run a memtest when possible, that should rule out the hw issues as dahlo pointed out.

[2012-04-18 15:04] jhagberg commented on #18
ups thats true. Good you are back from vacation!

[2012-04-18 15:22] brainstorm opened #19 "Install PyRODS @uppmax"
In order to test/use PyRods:

http://www.wrg.york.ac.uk/iread/using-the-python-client-side-library

[2012-04-19 04:35] jhagberg commented on #13
Yes it is easy but I don't have the power or mandate to do anything like this on UPPMAX. So Samuel needs to take this to a system meeting and UPPMAX need to decide how to do this. preferable just like you say and copy a default to every user.

[2012-04-19 11:17] samuell commented on #13
I have tried the OS Auth now, for the "existing swestore data access" on rot. I guess auto-generated .irodsEnv files should be the way. I'll bring it up on the tuesday meeting next week though ...
(JFYI, they mentioned on the IRODS chat that iinit is actually not needed with OS Auth.)

Regarding home folders, @brainstorm , with "similar directory structure", would that imply that we should have ho

[2012-04-19 11:28] samuell commented on #17
The rudimentary access to existing Swestore data via rot is now running in alpha test mode. I get it to work for myself, have managed to restrict public access etc, and asked @brainstorm to test it out.

Currently you will only be able to access the chunk-tar files (splitted, where they exceed 20Gb), and need to download and cat/untar them yourself.

It would sure be _possible_ to have some wrappe

[2012-04-20 08:38] brainstorm commented on #13
1) I would just use /proj/a2010002 in swestore.
2) No user "home" folders on swestore, only /proj/a2010002/swestore, not even the whole /proj/a2010002, that gives users the sense that "swestore" is a long storage resource, not just an extension to the parallel filesystem.

In other words, in point 2: Users should not be mirroring the entire /proj, they should just be copying those files that are m

[2012-04-20 08:53] jhagberg commented on #19
Is this the same for iRODS 3.1?

[2012-04-20 08:56] jhagberg commented on #18
@samuell Have you had a chance to run memtest on u5?

[2012-04-20 09:03] brainstorm commented on #19
It's a general gcc compiler flag, it should. Just try it ;)

[2012-04-20 09:04] jhagberg commented on #19
I have now recompiled u5

in
config/irods.config

change setting  to
$CCFLAGS = '-fPIC';

Please have a try!

[2012-04-20 09:18] brainstorm commented on #19
No dice :-/

<pre>
(py2.7)[roman@u5 PyRods-3.1.0 0]$ python setup.py build
(...)
g++ -shared build/temp.linux-x86_64-2.6/./src/irods.o build/temp.linux-x86_64-2.6/./src/PyApiNumber.o build/temp.linux-x86_64-2.6/./src/PyAuth.o build/temp.linux-x86_64-2.6/./src/PyChkObjPermAndStat.o build/temp.linux-x86_64-2.6/./src/PyDataObj.o build/temp.linux-x86_64-2.6/./src/PyGetRodsEnv.o build/temp.linux-x86_64

[2012-04-20 11:38] brainstorm commented on #18
Guys, looks like we're not alone here:

http://groups.google.com/group/irod-chat/browse_thread/thread/f2756284fe29b874#

[2012-04-20 12:01] samuell commented on #13
I do agree with @brainstorm's two points.

[2012-04-20 13:16] jhagberg commented on #19
Looks like you do not have read access in the postgres folder.

I have tried to build pyrods. Looks like we need to recompile postgres also...

I will give it a try.

[2012-04-20 13:36] jhagberg commented on #19
I have now build PyRODS
following this
https://groups.google.com/d/msg/irod-chat/JMX3dqoeSXo/vyAeuQQl5DUJ

Changed the setup.py

Please have a look in
/opt/irods/PyRods-3.1.0

[2012-04-27 12:06] samuell commented on #14
I would like to raise this discussion again. I think being completely without any safety net is too dangerous, since Swestore itself does not have any snapshot like functionality.

I see the problem with forgotten files in the trash, but I'd suggest adding a rule that cleans files in the trash after 24 or so, thus providing a kind of (short) shapshot system.

[2012-04-27 12:10] dahlo commented on #14
I vote in favor of this.

Since the thing with irods is that you can set rules, a simple
cleaning rule should not be impossible to implement (please correct me
if i am wrong). If the trash bin grows beyond our expectations we
should be able to deal with it then by just disabling it.

Mvh

## Martin

m.dahlo@gmail.com
+46 706 70 79 55

On Fri, Apr 27, 2012 at 14:06, Samuel Lampa
reply@reply.github.

[2012-04-27 12:16] samuell opened #20 "Decide on the use of iphybun tar bundling"
Activate admin-mode tar-bundling, according to description in:  https://www.irods.org/index.php/Bundling ... or decide whether we should use this functionality or not?

For large datasets with lots of small files, I think this can really be a life-saver, since it avoids the overhead in the order of seconds per file, to be added for every little small file that is uploaded. Thus the recommendetion

[2012-04-27 12:21] samuell opened #21 "Implement periodic mirroring of LDAP user/group database to ICAT"
Add periodic mirroring of the user/group database into ICAT.

[2012-04-27 12:21] samuell commented on #21
I've got the foundation for these scripts already for the irods setup on rot, so I'll be happy to look at this.

[2012-04-27 12:38] jhagberg commented on #21
The same script should also set up the file structure and give the right group the right permission on the group.

[2012-04-27 12:41] samuell commented on #14
@jhagberg Do you think you could fix such a rule?

[2012-04-27 12:42] samuell commented on #13
I'll have a look at this (adding to skel, and a roll-out script for existing users)

[2012-04-27 12:42] jhagberg commented on #13
Can/should this be done by the module system?

say module load irods

creates or sets user env file for the choosen irodse server.

module load irods.rot

sets the right parameters for that server.

A irods module already exists but can be extended,

[2012-04-27 12:43] jhagberg commented on #14
Yes I need to look in to it but it should be no problems.

[2012-04-27 12:45] samuell commented on #21
@jhagberg Yep, Indeed, we'll need to remove public access from all proj folders, configure aclpolicy to strict, and add the groups for each project and make those the owners of the proj folders ...

[2012-04-27 12:45] jhagberg opened #22 "30TB cache is full panic rule"
If the 30TB cache system is filing up faster than the rule deletes files. It is perhaps a good thing to have a admin rule to delete the oldest file  in cache.

This rule can be used by admins that manually need to delete files in cache if the file system is filling up to fast.

[2012-04-27 13:01] samuell commented on #20
@jhagberg I assigned this to you, in case you have time to do some testing on u5, on a recommended strategy for this, and can describe for us later how it works, and what seems to work well ... ?

[2012-04-27 13:02] samuell commented on #22
Sounds like a good idea!

Den 27 april 2012 14:45 skrev Jonas Hagberg <
reply@reply.github.com

[2012-04-27 13:51] samuell commented on #20
Well, me and @jhagberg just chatted about this, and realized there are at least two main options, each with their pros and cons, so I think we need some feedback from @brainstorm and @dahlo here:

I. Don't do any automatic tar:ing at all. Instead users are encouraged to tar and compress files themselves.
Pros:
- Quick to retrieve even small files
- Users get more control, since we can make the ipu

[2012-05-02 09:57] brainstorm commented on #20
I would go for option I.

27 apr 2012 kl. 15:51 skrev Samuel Lampa:

[2012-05-02 11:22] samuell commented on #20
Me too, I think :) ... I'll bring up the discussion at the "torsdagsfika" tomorrow though, for some additional feedback, or maybe even better, the USBF meeting on tuesday ...

[2012-05-03 11:29] samuell commented on #20
The torsdagsfika-group wan't really up for some active discussion on this. I guess the USBF meeting would be optimal for getting some input though ... (maybe we could even think of more things that we need to decide, to bring up with them).

[2012-05-07 13:45] samuell opened #23 "Fix robot cert for irods1"
Fix robot cert for irods1

[2012-05-07 13:53] samuell opened #24 "Implement the irods part of the Swestore integration on irods1"
Including rules and the univMSSdriver resource.

[2012-05-07 13:54] brainstorm commented on #19
<pre>
python setup.py build
(...)
g++: /opt/irods/postgres/pgsql/lib/libodbc.so: Permission denied
error: command 'g++' failed with exit status 1
</pre>

Plus if you hit this error and know how to overcome it, followup on the thread:

https://groups.google.com/forum/?fromgroups&hl=sv#!topic/irod-chat/Y0vy7-0-RA8

[2012-05-07 14:23] brainstorm commented on #19
Different symbol is missing at uppmax:

<pre>
(py2.7)[roman@u5 PyRods-3.1.0 0]$ export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/irods/postgres/pgsql/lib
(py2.7)[roman@u5 PyRods-3.1.0 0]$ python
Python 2.7 (r27:82500, Sep  7 2010, 13:19:24)
[GCC 4.1.2 20080704 (Red Hat 4.1.2-48)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File

[2012-05-07 14:27] brainstorm commented on #19
From PyRODS README:

<pre>
  You will have an error when you try to do import irods in a python shell
  after installing the package, it will complain for a missing object file for
  the module.
  If all goes well the script parses the config.mk file in the irods directory
  to find which module is linked with the server. It assumes a standard
  hierarchy (modules/modulename/obj/*.o), if this is n

[2012-05-08 08:09] brainstorm commented on #19
@jhagberg did:

<pre>
I disabled GSI_auth
make clean
make
rm * in Pyrods build
python setup.py build
</pre>

And worked.

[2012-05-08 08:09] #19 closed, assigned to jhagberg

[2012-05-08 13:56] samuell commented on #21
JFYI, I'm working on this ... have managed to add all the users (and delete expired ones), so will continue with group membership and project folder etc...

[2012-05-08 13:59] samuell commented on #13
Now it works with module load irods/rot or and irods/irods1 ... totally without the use of an .irodsEnv file at all ... everything is set up within the module file.

We should probably choose more sensible titles for those? (but right now I use that info as the $host variable :") )

Unfortunetely this will have broke the icommands for u5, but will try to get that up again asap ...

[2012-05-08 14:01] jhagberg commented on #13
Great!
Do you mean that icommands on u5 is broken if you load the module file?

[2012-05-08 14:03] samuell commented on #13
Yes, since with
`module load irods`
... you will now load either `irods/rot` or `irods/irods1` :")

[2012-05-08 14:14] jhagberg commented on #13
Just broken if loading the module. I can still set the path manually.

[2012-05-08 14:21] samuell commented on #13
@jhagberg Yeah, true ... but I guess OS auth does not work for u5, right now, since I updated the icommands to have the keyfile that works on rot and irods1, but let's take that discussion on mail (just mailed you and @brainstorm )

[2012-05-10 06:58] jhagberg opened #25 "Md5sum checks rule"
Issue to extend the clear cache rule with md5sum verification.

[2012-05-10 08:38] brainstorm commented on #18
Issue being handled by developers in the main mailing list (iRODS Chat), closing...

[2012-05-10 08:53] brainstorm commented on #6
I'm trying to use Sanger's iRODs Perl module as a template for our own PyRODS-based client:

ftp://ftp.sanger.ac.uk/pub4/resources/software/npg/common/NPG_COMMON-43.0.tar.gz

Related to issue #19

[2012-05-10 09:58] jhagberg commented on #25
Looks like the msiDataObjChksum behavior is not congruent.

The option ChksumAll is not detecting a file on sweStore that has wrong checksum if correct replica on cache exist. I will ask the iRODS-chat about it.  (https://groups.google.com/d/msg/irod-chat/BvB_qezuPUo/CMF32Pzz8c4J)

We should consider in the module file to alias iput to iput -K
-K flag is calculating the md5sum before and after fir

[2012-05-10 10:29] jhagberg commented on #25
Since version 3.1

"Compound object checksums. A checksum computation for compound class objects was added. This is done by staging data-objects to cache and then computing the checksum of the staged object"

[2012-05-10 11:16] jhagberg commented on #24
univMSS driver is committed to production git.

[2012-05-10 11:16] #13 closed, assigned to samuell

[2012-05-11 07:07] jhagberg commented on #24
Problems creating resource on production. @samuell can you take a look at it?

[code]

[2012-05-11 08:02] jhagberg commented on #24
Missing quotes around 'unix file system'

[2012-05-13 09:05] jhagberg commented on #25
After discussion with @samuell we came up with the idea to do some sort of verification in the univMSSdriver.

I found in the latest arc client documentation that you actually can provide an md5sum to the srm url that will work as a verification of the transfer and if the md5sum is not correct the transfer will fail. (http://www.nordugrid.org/documents/arc-ui.pdf)

I have updated the univmssdriver

[2012-06-04 06:08] #24 closed, assigned to jhagberg

[2012-06-04 06:08] #25 closed, assigned to nobody

[2012-06-04 06:10] jhagberg opened #26 "Scala"
@samuell
Is this something that can be interesting to install on the production iRODS? My vote for this!

http://tgwww.kek.jp/scala/

[2012-06-04 06:26] samuell commented on #26
Cool :)

Something to have a look at during the hackathon tomorrow, I guess!

Den 4 jun 2012 08.10, "Jonas Hagberg" <
reply@reply.github.com>
skrev:

@samuell
Is this something that can be interesting to install on the production
iRODS? My vote for this!

http://tgwww.kek.jp/scala/

---

Reply to this email directly or view it on GitHub:
https://github.com/UPPMAX/irods/issues/26

[2012-06-04 12:53] jhagberg commented on #20
@samuell Can you update the latest info about this issue. What did the USBF meeting came up with?

[2012-06-04 15:30] samuell commented on #20
@jhagberg We never really came into those gory details at that meeting. We didn't feel people were that interested in the low level details, so I suggest we go with what we realized already, that we provide no tar handling at this point, but instead leave that to the users...

[2012-06-05 11:29] jhagberg commented on #14
One problem with trashbin... There is no mv function for sweStore...
If I remove a file on swestore. The operation is to move the file to the trash folder. That is not possible to do with the arc-commands.  One obvious work around is to cope the file to the new place. But that means that you need to download from swestore and than upload again. Perhaps too much overhead.

rm unixODBC-2.2.12.tar

E

[2012-06-05 12:32] samuell opened #27 "alias iput -K in module files"

[2012-06-05 12:33] samuell commented on #27
... to make sure that checksums are calculated.

[2012-06-05 12:33] samuell opened #28 "Submit feature request for an arcmv command"
http://bugzilla.nordugrid.org/cgi-bin/bugzilla/show_bug.cgi?id=2854

[2012-06-05 12:34] samuell commented on #27
(or better, as @brainstorm suggested, make a wrapper version of it that executes the correct one)

[2012-06-05 12:41] samuell opened #29 "irsync wrapper"

[2012-06-05 13:29] samuell commented on #23
Have issued and got the cert. Have to install, and mail swestore to add it to the VO.

[2012-06-13 12:22] samuell opened #30 "Request an arcmv command in arc client"
Submitted now: http://bugzilla.nordugrid.org/cgi-bin/bugzilla/show_bug.cgi?id=2854

... keeping this issue open for a while, to keep track ...

[2012-06-13 12:23] samuell opened #31 "Stop execution of move command"
Implement some error message preventing from using mv, until we get a move feature in the arc client
### jhagberg commented 2012-06-11

This could instead be solved by using this core rule
acSetVaultPathPolicy {msiSetRandomScheme; }

That will use random filepath, then mv and rm will only be updates in iCAT.

[2012-06-13 12:24] samuell opened #32 "Disable and remove home folders"
Disable and remove home folders.

@jhagberg fixes in core rules, so home folders are not created when creating new users.
@samuell removes the existing ones, with a script.

[2012-06-13 12:24] samuell opened #33 "Implement deployment git infrastructure"
Set up the relevant git repositories, remotes and branches, to enable a workflow where we can automatically pull the latest iRODS version from upstream, as well as merge changes from a development branch to the master (production) in order to implement (and then the production server will do auto pull from the master branch).

Working on this. I have still to find the correct URL to checkout the u

[2012-06-13 12:39] samuell commented on #33
After contacting the relevant people at RENCI, we figured the recommended repo to use as upstream is the one at github: https://github.com/irods/irods

Also, I have now created branches u5, u5-dev, kali and kali-dev in our main irods repo. In u5/u5-dev, I also copied in the files and changes that @jhagberg  had made, over the fresh iRODS codebase from upstream.

@jhagberg , so now you can start ad

[2012-06-13 12:49] jhagberg commented on #33
Oki so how do we work now? I push all changes to kali-dev?

[2012-06-13 12:50] samuell commented on #33
Ah, yes, kali-dev. Sorry, I should have said:

[code]

[2012-06-13 13:05] jhagberg commented on #33
Yes but what about the "change" management process? I push to kali-dev you merge with kali? and that is the branch we are running on the production server or?

[2012-06-13 13:13] samuell commented on #33
Exactly!

[2012-06-13 13:18] jhagberg commented on #32
Changes pushed to branch kali-dev.
Delete all users and re add them or just delete all home folders.

Is the group sync working? And does the irods module fix where user ends up?

[2012-06-13 13:19] jhagberg commented on #31
@samuell  Can you install srm client on kali? if we are going to use the java based srmmv?

[2012-06-13 13:23] jhagberg commented on #22
I suggest using the itrim command as an admin.

[2012-06-13 13:23] #22 closed, assigned to nobody

[2012-06-13 13:23] jhagberg commented on #21
What is the status of the group sync?

[2012-06-13 13:24] samuell commented on #32
Yep, will fix. The group sync is not finished yet. Not big thing to fix though.

Will re-check the module... it might still use "irods" rather than "kali" as hostname...

[2012-06-13 13:25] samuell commented on #31
Fixed. Binaries now available in /opt/d-cache/srm/bin/!

[2012-06-13 13:25] #20 closed, assigned to jhagberg

[2012-06-13 13:26] jhagberg commented on #14
We want trash function.
Workaround is to use the slow srmv command.
@samuell  need to install this on kali to get it working.
I will try it out on u5.

[2012-06-13 13:29] samuell commented on #21
I haven't finished it yet, because we had to focus on this git stuff. Will turn to it just about now though.

[2012-06-13 13:30] samuell commented on #14
srmmv command installed.

[2012-06-18 09:16] samuell commented on #23
Implemeted now, and added a cron script to run arcproxy.

[2012-06-18 09:16] #23 closed, assigned to samuell

[2012-06-18 09:25] samuell commented on #30
Duplicate of #28

[2012-06-18 10:58] samuell commented on #33
Automatic (as per crontab) pull of "kali" branch to /opt/irods is now implemented.

[2012-06-18 10:58] #33 closed, assigned to samuell

[2012-06-18 11:01] samuell commented on #28
Let's close this one as well.

[2012-06-18 11:01] #28 closed, assigned to samuell

[2012-06-19 04:38] jhagberg commented on #14
We will use trash and as a workaround use the slow Java interface with swestore to move and remove files. This will keep the irods file layout somewhat identically to that of swestore.

[2012-06-19 04:51] jhagberg commented on #27
Looks like irsync is up for the beat now also.

https://groups.google.com/forum/?fromgroups#!topic/iROD-Chat/gMgdVapy77c
https://github.com/irods/irods/commit/da7c42e131a78bcaa6296cd795fb7da531a8e9fd

Very fast to add features for us!

[2012-06-19 05:12] jhagberg commented on #31
We use the java client as a workaround until a other good and UPPMAX approved solution is in place.

[2012-06-19 05:12] #31 closed, assigned to jhagberg

[2012-06-19 06:29] jhagberg commented on #29
@samuell I have added a simple one.
https://github.com/UPPMAX/irods/commit/05ff6235ef845bb9078ad756350225fa6b9262a9
Can you make some basic test with it and add it to the irods module?

[2012-06-20 13:12] samuell opened #34 "Decide on removing (or not) the zone folder"
By default, iRODS seems to be configured to always use a zone folder as the parent of any custom folder stuctures.

Thus, we have:
/ssUppnexZone/proj/<projfolder>

It would be more convenient for users with:
/proj/<projfolder>

... but this does not play nicely with univMSSInterface.sh. It seems to always remove the most parent folder from paths, so for paths not containing the zone folder, then t

[2012-06-20 13:37] jhagberg commented on #34
This is just a setting in core.re
As you can see there is no zone folder on the cache resource either:

cache:   /data/rescs/swestoreArchCacheResc/proj/b2011221/postgresql-9.0.3.tar
swestore: /arch2/proj/b2011221/postgresql-9.0.3.tar

We are trimming one dir with the GRAFT_PATH command

https://github.com/UPPMAX/irods/blob/kali-dev/iRODS/server/config/reConfigs/core.re#L369

If you like to add the

[2012-06-20 14:32] samuell commented on #30
Solution created, and under way :) : http://bugzilla.nordugrid.org/cgi-bin/bugzilla/show_bug.cgi?id=2854

... let's keep the issue open then, until we get it installed ...

[2012-06-21 09:34] samuell commented on #27
Added the alias in the modules now. (also note the new names for the module versions, a la swestore=kali, swestore_old=rot, test=u5).

The wrapper strategy riscs to be overwritten every time we recompile the icommands. I guess we can implement that once we have some build automation system in place (makefile / fabfile or similar ...).

[2012-06-21 09:34] #27 closed, assigned to samuell

[2012-06-21 10:19] jhagberg commented on #27
when irsync -K is availble ? I guess when you merge upstrem irods and compile please add that alias also.

[2012-06-21 10:37] samuell commented on #27
Added alias now! (Will have a look at the upstream changes, and maybe update ...)

[2012-06-21 11:40] samuell commented on #29
Implemented now, as an alias in the module file instead (until we get a proper build system, that can make changes like adding wrappers etc upon compile).

[2012-06-21 11:40] #29 closed, assigned to jhagberg

[2012-06-21 11:41] samuell commented on #32
(Module works now, as does group sync, although a bit shaky script ... will polish it now ...)

[2012-06-21 11:42] samuell commented on #32
Home folders removed now, since I did a clean install of iRODS after @jhagberg did disable them in core.re.

[2012-06-21 11:42] #32 closed, assigned to jhagberg

[2012-06-21 11:43] samuell commented on #21
There is code for syncing groups now. Have to make it more robust, and add code for ensuring existance of proj folder now (dependent on #34 )...

[2012-06-21 12:41] samuell commented on #34
Have mailed irod-chat for feedback: https://groups.google.com/d/topic/irod-chat/0gBDK1B0zNI/discussion

[2012-06-21 13:54] samuell commented on #21
A crude (but working) script is now active and running twice an hour on kali:
(Code here: https://github.com/UPPMAX/irods/blob/kali/scripts/sync_ldap_to_irods )

[2012-06-21 14:13] jhagberg commented on #21
What happens to user owned files when deleting a user?

[2012-06-21 14:23] samuell commented on #21
Ah, good question, and point. I guess we should somehow inactivate the users rather than deleting them ...

[2012-06-21 15:18] samuell commented on #21
Well, I don't find any way to inactivate iRODS users. Though, as long as we use OS auth, it should not really matter if we leave the users in the DB or not, so for the moment, I have just removed execution of the delete function in crontab.

[2012-06-21 15:35] samuell opened #35 "irm -r does not delete the folder itself"
When doing an "irm -r" on a folder, the contents of the folder is deleted (at least files directly inside it), but not the folder itself.

[2012-06-21 15:42] jhagberg commented on #35
On logical iRODS filespace?
Or on local cache filestorage?
Or on sweStore?

[2012-06-21 15:42] samuell commented on #35
On Swestore, and the local cache resource. In iRODS logical filespace it is removed.

[2012-06-21 15:46] jhagberg commented on #35
I guess that is a feature of swestore.

[2012-06-21 15:50] jhagberg commented on #35
Does it matter?

There is no arcrmdir and univMSS driver dont have a rmdir function etiher.

help page of arcrm states it only deletes files.

the same with srmrm,,

there is a srmrmdir but no univsMSS function.

[2012-06-21 15:52] samuell commented on #35
True ... and when echoing the paths executed with rm in univMSS, I see that it only deletes files, does not even try to delete the folders. (I tried with a two-level folder structure).

[2012-06-21 15:55] jhagberg commented on #35
it is a compound resource, just put and get...

[2012-06-21 16:02] samuell commented on #35
Not a show stopper, definitely, just a bit annoying if it will leave a lot of empty folders up there, if doing a lot of changes ...

[2012-06-21 16:10] jhagberg commented on #35
we can create a cron script to clean out empty folders.

[2012-06-25 11:22] jhagberg opened #36 "add irods bash autocomplete in irods module"
THere is a bash autocomplete. Can you ad that so that it is sourced when you load the irods module.

[2012-06-25 11:41] dahlo opened #37 "Irods not able to create envFiles if ~/.irods does not exist"
I tried to do a icd command, but got the error message

Unable to open envFile /bubo/home/h18/dahlo/.irods/.irodsEnv.4955

Pastebin: http://pastebin.com/mpzgPGJk

Problem was resolved after i manually created ~/.irods

This should be done automatically when you load the irods module.

[2012-06-25 11:46] jhagberg commented on #34
Looks like we need to keep the zone folder. Perhaps we should rename the zone to something that is a bit more easy?

[2012-06-25 11:47] jhagberg commented on #21
But a it would be good to test to delete a user that have files to see what is happening.

[2012-06-25 11:49] samuell commented on #34
Yes, I agree (both to keeping, and renaming :) ). Maybe just "Swestore" ?

[2012-06-25 11:51] jhagberg commented on #34
Or just UPPNEX?

[2012-06-25 12:00] samuell commented on #34
I was thinking we might want to separate the Swestore storage from other kinds of storage (because it is a bit slower, might have a little bit other policies for backup etc than local storage on UPPMAX, etc), and AFAIS, the best way to separate things in this logical way, is with different zones... isn't it?

[2012-06-25 12:01] samuell commented on #21
Maybe we can test this on u5 in a smaller scale then?

[2012-06-25 12:02] samuell commented on #37
Fixed in the module file!

(This is the tcl code, for reference):

[code]

[2012-06-25 12:02] #37 closed, assigned to nobody

[2012-06-27 07:44] jhagberg opened #38 "imv FOLDERNAME NEWFOLDERNAME is doing a recursive loop"
I have uploaded ~800G of data to iRODS.
I have now tried to rename the folder, it has started a recursive loop of all the subfiles and moving them one by one instead of just renaming the topfolder. This is no good since this will start the java client for every file...
It looks like it is a iRODS issue.

[2012-06-27 07:46] jhagberg opened #39 "rodsLog is flooded by that user rods is trying to auth from kali"
Jun 26 01:15:39 pid:836 NOTICE: rsAuthCheck user rods#ssUppnexZone
Jun 26 01:15:39 pid:836 NOTICE: rsAuthResponse set proxy authFlag to 5, client authFlag to 5, user:rods#ssUppnexZone proxy:rods client:rods
Jun 26 01:15:39 pid:836 NOTICE: readAndProcClientMsg: received disconnect msg from client
Jun 26 01:15:39 pid:836 NOTICE: Agent exiting with status = 0
Jun 26 01:15:39 pid:18791 NOTICE: Agent p

[2012-06-27 13:30] samuell commented on #39
Possibly! Will have a look at what runs at that time ...

// Samuel

2012/6/27 Jonas Hagberg <
reply@reply.github.com

[2012-08-28 10:48] samuell opened #40 "Lower MAX_SZ_FOR_SINGLE_BUF to force parallell transfer mode"
See https://www.irods.org/index.php/iRods_file_transfer

By default, files smaller than 32MB will be transferred in sequential mode from iRODS clients to the server, and the sequential mode always goes via the server that the user connects to and then from this server further to the resource server.

Only files larger than 32 MB will be done in parallell mode, which connects directly between the c

[2012-08-28 11:13] jhagberg commented on #40
We only have one server and the resource is located at this server. So there is no need for any change. But perhaps I am missing something here. What are you thinking?

[2012-08-28 11:21] samuell commented on #40
Yes,  this was "After implementing iRODS on our new local storage", some 1PB new local storage that we are now installing in the computer room :) Sorry, didn't formulate it very clear.

[2012-08-28 14:31] samuell opened #41 "srmmkdir leaves hanging java processes"
The srmmkdir command of the dCache Java SRM client, tends to leave hanging processes, such as this one:

[code]

top shows that they use some CPU as well:

[code]

[2012-08-28 15:06] samuell commented on #41
Changed to use the (new?) arcmkdir command instead of the seemingly buggish Java srmmkdir command. (See https://github.com/UPPMAX/irods/commit/515d669da86c8ebd9dbc5da6fd4eb87021193d00 ).

At least initial tests shows good results.

[2012-08-28 15:06] #41 closed, assigned to nobody

[2012-09-05 08:25] brainstorm commented on #34
I agree, having two different zones, "swestore" and "uppnex" would definitely help out users on figuring out where they are putting their data. When it comes to federation it feels cleaner as well.

[2012-09-05 08:27] brainstorm commented on #40
For now I would leave the default as it is, we can do some performance tweaking later on... plus if we change default settings now, we'll not have a baseline to compare with :-S

To sum it up: Please, keep it as it is in iRODS and close the issue ;)

[2012-09-05 08:29] brainstorm commented on #30
The nordugrid bugzilla seems to be down :-S

According to issue #41, arcmkdir seems to be in place and working well, should we close this issue then?

[2012-09-05 08:43] brainstorm opened #42 "Rely exlusively on .irodsEnv instead of environment variables"
While testing federation with CRS4, I had some issues with iRODS environment variables overriding my custom settings in .irodsEnv, I had to source this script to clear up the env:

<pre>
#!/bin/sh

unset irodsCwd
unset irodsZone
unset irodsAuthScheme
unset irodsPort
unset irodsDefResource
unset irodsUserName
unset irodsHome
unset irodsHost
</pre>

Can you guys please kill the "setenv" commands in

[2012-09-05 08:47] jhagberg commented on #42
The setenv in module is necessary due to that not every user have the irodsENV file.
I think this was the best solution for a iRODS module on UPPMAX. Can you confirm this @samuell

[2012-09-05 12:47] samuell commented on #42
Yes, that's true. We rely on this method to make this maintainable, but
even more to allow to easily change between defferent servers. So will
be able to do e.g:

module unload irods/swestore
module load irods/swestore-legacy

... in order to access the legacy Swestore data (via a separate server),
without fiddling with .irodsEnv.

But I guess for your use case, you might not need to load the irod

[2012-09-07 14:36] pontus opened #43 "Problems when using univMSS driver with filenames containing spaces"
The univmssdriver has problems handling filenames with spaces. It doesn't construct an argv and execute the univMSS command directly but constructs a string which is later deconstructed into arguments using space as a delimeter.

Filenames with spaces will result in multiple arguments, causing the univMSS command to misbehave, even if it handles the parameters it receives correctly.

[2012-09-10 05:15] jhagberg commented on #43
Have you made contact to iRODS CHAT?

[2012-09-11 14:25] samuell commented on #42
Closing this issue now, as we rely on this, and AFAIS other use cases has to find workarounds.

[2012-09-11 14:25] #42 closed, assigned to samuell

[2012-09-11 15:07] samuell commented on #21
Have implemented a refined python version [1], and it seem to have stabilized after a few initial bugs. We skip deleting users for now (they are not really ever deleted at UPPMAX anyway, only inactivated).

[1] https://github.com/UPPMAX/irods/blob/kali/scripts/sync_ldap_to_irods.py

[2012-09-11 15:07] #21 closed, assigned to samuell

[2012-09-11 15:09] samuell opened #44 "Activate 10GbE NIC on kali"
Make sure the 10GbE NIC is used for all traffic to/from kali, replacing the old 1GbE one.

[2012-09-12 08:49] samuell commented on #43
Yes, he has. See https://groups.google.com/forum/?fromgroups=#!topic/iROD-Chat/btlDS1o6O0Q

[2012-09-12 08:51] brainstorm commented on #43
In that line, one should mention Swedish characters in filenames and folders (Unicode issues in general), I hope those are handled well by the univMSSdriver... have you tried that?

[2012-09-12 09:10] samuell commented on #44
Fixed now. @pontus solved some problems with a non-functional grub etc as well.

[2012-09-12 09:10] #44 closed, assigned to pontus

[2012-09-12 09:15] samuell commented on #38
I guess we should change to use the arcmv / arcrename command (#30), as soon as it is available

[2012-09-12 09:38] samuell opened #45 "investigate the use of Enterprise iRODS (e-irods) codebase"
E-iRODS provides binary distributions (.deb or .rpm) of their tested and optionally supported version of the iRODS code base. See: http://e-irods.org/

[2012-09-12 09:42] samuell commented on #38
Aha, if it is how iRODS does this internally, we need to report it to iRODS-chat. Or did you do that already, @jhagberg ?

[2012-09-12 10:09] jhagberg commented on #38
Nope left this bug over to you when switching to the other project.

[2012-09-12 10:36] samuell opened #46 "Add flag for purging cache as alias in module file"
iput has a flag for this. Add in the alias for iput in the module file (our replacement for .irodsEnv).

[2012-09-12 10:38] jhagberg commented on #46
--purgec  Purge the staged cache copy after uploading an object to a
     COMPOUND resource

[2012-09-12 10:49] jhagberg commented on #38
Disable imv command see: https://groups.google.com/d/msg/irod-chat/-L7_0T62IZg/ahU6iEA-ki4J

[2012-09-12 10:51] samuell commented on #38
Yes, for now, let's disable the imv command.

[2012-09-12 11:33] samuell opened #47 "Update arc to a version that contains the arcrename command"

[2012-09-12 11:34] samuell commented on #47
@jhagberg started to test this, and reports:

Har checkat ut senaste trunk från arc

[code]

följer README
kör

[code]

Saknar direkt saker.

[code]

kanske någon av er med mera root skills kan lägga in de beronden som finns och köra om configure tills den inte klagar längre?

[2012-09-12 11:38] samuell commented on #38
(Added the update of the arc client as issue #47 though, to work on when we have time ... )

[2012-09-12 11:57] samuell commented on #47
Installed these packages:

[code]

[2012-09-12 12:09] samuell commented on #43
Fix committed by @pontus : https://github.com/UPPMAX/irods/commit/5367217ed53b13685398214ecf16a2449d9fc31a

[2012-09-12 12:11] samuell commented on #43
@pontus reports also that files with spaces are visible with arcls after upload, so I suppose we can consider this fixed now.

[2012-09-12 12:11] #43 closed, assigned to pontus

[2012-09-12 12:16] samuell commented on #39
I see that this happens many times (34 times or so) per minute. There's no cron job running that often (they run max once per minute). Any other ideas @jhagberg or  @pontus ?

[2012-09-12 12:20] jhagberg commented on #47
compile error

auth.cpp:6:35: fel: globus_gsi_credential.h: Filen eller katalogen finns inte

[2012-09-12 12:27] brainstorm commented on #39
https://groups.google.com/forum/?fromgroups=#!topic/irod-chat/s_peXdSMkvg

[2012-09-12 12:54] samuell commented on #39
Thanks @brainstorm , will check if there is a more suitable logging level.

[2012-09-12 13:34] jhagberg commented on #46
Perhaps not so good idea if we want fokes to have some time to change their mind or read back file or do i irsync -K again.
If we purge cache direct and the user use irsync again files will be stage back to cache from swestore for doing a checksum verification.

[2012-09-12 13:35] jhagberg commented on #18
This looks still to be an issue.

[2012-09-12 13:36] pontus commented on #38
Added

acPreProcForObjRename(_sourceObject,_destObject) { msiOprDisallowed; }

to block renames.

[2012-09-12 13:38] jhagberg commented on #38
Can we open a issue on irodschat also?

[2012-09-13 05:27] jhagberg commented on #38
This will get problematic with the trash function. Perpahs we need to disable the trash function aswell?

[2012-09-13 05:28] jhagberg commented on #47
Can someone with root check and install this packages. Indicated by http://www.nordugrid.org/middleware/build.html

gsoap-devel >= 2.7.2
libxml2-devel >= 2.4.0
globus-common-devel
globus-ftp-client-devel
globus-ftp-control-devel
globus-gass-transfer-devel
globus-gsi-credential-devel
globus-gsi-sysconfig-devel
globus-gss-assist-devel
globus-io-devel
openldap-devel
globus-rls-client-devel
globus-rsl

[2012-09-13 06:52] samuell opened #48 "Problem with zero byte files and msiDataObjRepl"
As reported by @jhagberg here: https://groups.google.com/forum/?fromgroups=#!topic/irod-chat/5ykZOEbsO6Q

(Let's keep this pointer here as well, for reference.)

[2012-09-13 07:06] samuell commented on #18
@jhagberg el @pontus Får jag assigna till nån av er?

[2012-09-13 07:08] samuell commented on #47
@jhagberg , I'll check ...

[2012-09-13 07:29] samuell commented on #18
How can we handle that itrim does not complete because of 0byte files? ... can we do a workaround for this until we get a proper fix?

[2012-09-13 07:32] pontus commented on #18
https://github.com/UPPMAX/irods/issues/18#issuecomment-8519919: Visst.

IIUC, things work fine as long as you're not using delayed rule, so an irule from crontab should work fine.

[2012-09-13 07:33] pontus commented on #18
The init script I copied to start at boot had an ulimit -c 81920 to limit core size files, removed it so we'll hopefully receive better core files in the future.

[2012-09-13 07:33] samuell commented on #18
True, or force the -purgec flag, so that cache is purged immediately, and the user himself get to handle what to do because of the error...

[2012-09-13 07:36] samuell commented on #47
[code]

[2012-09-13 07:38] samuell commented on #18
Let's keep the issue in the milestone at least until we have implemented a workaround.

[2012-09-13 07:39] samuell opened #49 "Interactive integrity verification tool for files at Swestore"
Maybe some interactive command to run ... ichksum, or some custom rule that receives the adler32-sum from Swestore and stores in iRODS meta-data? More suggestions?

[2012-09-13 07:41] samuell opened #50 "Add iRODS/Swestore user documentation to UPPNEX web"
Add iRODS/Swestore user documentation to UPPNEX web, and update or deprecate the old one (https://www.uppnex.uu.se/faq/how-do-i-move-files-national-storage-swestore)

[2012-09-13 08:00] samuell commented on #50
Added a new page now, only visible to admins: https://www.uppnex.uu.se/faq/how-i-move-files-swestore-using-irods

[2012-09-13 08:04] brainstorm commented on #49
I would use ichksum (md5) for all files, even if it takes a more time to compute those, it's already built in and supported.

[2012-09-13 09:11] jhagberg commented on #49
Since we force user to use irsync or iput  with the -K
All the checksums are uploaded to irods and stored in irods ICAT. We also use the md5 sum to check the transfer to SWESTORE.
If a user run ichksum -a all files will be checked against checksum. But I guess it would be safe to delete files as soon as you got OK from irods since then the file is on swestore and has been verified two times.

[2012-09-13 09:12] brainstorm commented on #49
+1 on J's arguments.

[2012-09-13 09:15] jhagberg commented on #49
If we want to be super safe we need to do a test outside iRODS. So upload files to iRODS and SWESTORE. Trim cache. Iget all the files again and verify with your original md5sums.

We can perhaps set up some tests and if they look good we can skip it in the future. My first test all worked as planned. But they are dummy files..

[2012-09-13 09:17] samuell commented on #49
@jhagberg :s arguments in https://github.com/UPPMAX/irods/issues/49#issuecomment-8522392 sounds reasonable in general. Only I would add that each of the transfer steps actually is only checked only once (not two times), even though it sums up to two checks in total (upload to cache, and upload to Swestore).

[2012-09-13 09:20] pontus commented on #49
This is probably due to something that I said that it would be nice for users that don't trust irods to be able to verify file integrity _outside_ of irods.

That's probably not worth the effort though (given user integrity problems, acls and so on), but I guess Samuel thought it worth to keep some variation of the idea around.

[2012-09-13 09:21] samuell commented on #49
I guess we could also just set up some automated tests, that can run periodically (once every day or hour?), so that we identify any problems as soon as they arise. A little python/nose script could do, I guess. (That's something else than a tool for the users themselves to use though ...)

[2012-09-13 09:26] brainstorm commented on #49
I think it's overkill, I would rely on iRODS mechanisms (ichksum, -K flag, etc..), i think they should suffice in this regard and there are more pressing issues ATM, I would close this issue and focus on #50 (Samuel, you're awesome in docs ;)) and #18 #38 (Jonas, Pontus & myself if you need some debugging assistance).

[2012-09-13 11:51] samuell commented on #38
How should we do with this? alias imv and irm to some dummy commands, instead of doing this at the rule level?

[2012-09-13 11:55] jhagberg commented on #38
Can you activate the arc gateway on u5 then I can try to make a test case and report/ask on irods Chat

[2012-09-13 11:56] samuell commented on #18
Ok, can we add an irule command to the crontab? @pontus do you fix? ... or else if I get the command that should be done from @jhagberg I can add it.

[2012-09-13 11:57] jhagberg commented on #18
Better to restart reServer with cron and report problems and findings to iRODS chat if we hit more segfaults.

[2012-09-13 11:58] samuell commented on #49
Ok, thanks for the input @brainstorm . I guess we can wait with this til at least the service release milestone, and await and see if it is actually requested by any users.

[2012-09-13 12:01] samuell commented on #18
(Answer to @brainstorm in #49): Yes, and any debugging of this issue is welcome, I guess :) ... but we probably will work around it for the "in production" milestone.

[2012-09-13 12:02] samuell commented on #38
Ok, will try

[2012-09-13 12:07] brainstorm commented on #18
Ok, core files I can "gdb -c" against are welcome then, it seems hard to reproduce outside your env :-S

[2012-09-13 12:36] samuell commented on #18
@brainstorm Yes, that's true

[2012-09-13 12:57] pontus commented on #18
2012/9/13 Samuel Lampa notifications@github.com

Crontab job added to run trimming rule nightly.

[2012-09-13 13:08] samuell commented on #18
@pontus Great! ... then moving the issue to the next milestone, for hopefully a full fix.

[2012-09-13 13:23] samuell opened #51 "Ensure basic monitoring of kali"
Make sure we have access to basic monitoring of kali.

Maybe we have nagios already? ... do we need something more? Does nagios check df on the /data volume?

[2012-09-13 13:30] samuell commented on #38
I aliased iput and irepl with the --purgec flag for kali in the irods/swestore module. Strangely enough, irsync does not have this flag.

I mailed about it, and asked if this can be done more centrally (at the config/rule level):
https://groups.google.com/forum/?fromgroups=#!topic/irod-chat/9KwFooQ2ufQ

[2012-09-13 13:35] samuell commented on #38
As suggested in https://groups.google.com/forum/?fromgroups=#!topic/iROD-Chat/9KwFooQ2ufQ , we could add the trim rule in the "hook" run after put operations ... what do you think about it?

[2012-09-13 13:44] samuell commented on #38
(Moving this to the next milestone for now, as I assume we have a good enough workaround to start on monday.)

[2012-09-13 13:46] samuell commented on #50
Draftish draft up (for admins) at http://www.uppnex.uu.se/faq/how-move-files-swestore-using-irods

Will need some peace of mind to refine this to its final state, so that's probly not until tomorrow, fri 14/9.

[2012-09-13 13:49] jhagberg commented on #50
Should inform user to use -K and md5sums even if we enforce it.

[2012-09-14 06:15] jhagberg opened #52 "Remove "defaultResc" on kali"
To be sure why not just delete the "defaultResc"

ilsresc
defaultResc
swestoreArchCacheResc
swestoreArchResc
swestoreArchGrp (resource group)

[2012-09-14 06:31] jhagberg commented on #38
Only way to solve this is to separate the logical namespace from the physical with msiSetRandomScheme

See doc
https://www.irods.org/doxygen/re_sys_data_obj_opr_8c_af5d94ac9ba81ad049572f7774002164d.html#af5d94ac9ba81ad049572f7774002164d

And an example
https://www.irods.org/index.php/logical_namespace

imv and irm to trash will be super fast. Downside we really really need good backup in iRODS ICA

[2012-09-14 08:52] jhagberg commented on #51
Perhaps look at scala ? #26

[2012-09-14 08:52] jhagberg commented on #36
Any updates on this should be a simple fix?

[2012-09-14 09:21] samuell commented on #51
We have nagios running for kali. I'm trying to figure out if it is possible to add email alerts for certain events ...

SCALA looks nice. I don't think we'll make it before monday though.

[2012-09-14 09:23] samuell commented on #14
Trashbin was accidentally turned off, right? ... do you turn it on again @jhagberg ?

[2012-09-14 09:24] jhagberg opened #53 "Kali hostname is irods1"
irods@irods1:~$ hostname
irods1.uppmax.uu.se

[2012-09-14 09:26] samuell commented on #38
As we got arcrename installed and working now, let's test how it performs, as @jhagberg suggested.

[2012-09-14 09:30] samuell commented on #30
@pontus just installed arcrename on kali, so closing.

[2012-09-14 09:30] #30 closed, assigned to samuell

[2012-09-14 09:30] samuell commented on #47
@pontus just installed arcrename on kali, so closing.

[2012-09-14 09:30] #47 closed, assigned to jhagberg

[2012-09-14 09:32] samuell commented on #46
I added this as a temporary solution as long as we have problems with mainly #48 (and maybe #18). We can of course change it later, but at least I'm closing this issue now.

[2012-09-14 09:32] #46 closed, assigned to samuell

[2012-09-14 09:37] samuell commented on #38
@pontus changed the blocking of imv also, so that it logs instead of blocks.

[2012-09-14 09:44] jhagberg commented on #46
Added --purgec alias?

[2012-09-14 13:54] samuell commented on #14
Closing now, as it is now fixed.

[2012-09-14 13:54] #14 closed, assigned to jhagberg

[2012-09-14 13:55] samuell commented on #38
Works, but is slow, according to @jhagberg , so keeping it aliased to a nice message, and moving the issue to next milestone ...

[2012-09-14 13:56] samuell commented on #51
I think we have good enough monitoring to get started, so moving this to next milestone.

[2012-09-14 14:40] samuell commented on #50
Have informed about the -K flag in the hints section at http://www.uppnex.uu.se/faq/how-move-files-swestore-using-irods#More_hints now.

[2012-09-14 14:46] samuell commented on #50
I consider the guide complete enough to close the issue now (even though it can still be polished a lot).

[2012-09-14 14:46] #50 closed, assigned to samuell

[2012-09-14 14:48] samuell commented on #46
@jhagberg Yep!

[2012-09-17 11:06] samuell opened #54 "Typo in uppnexReplAndTrim rule name"
See this line: https://github.com/UPPMAX/irods/blob/kali/rules/uppnexReplAndTrim.r#L1

There is 3 p:s in "Upppnex" ...

[2012-09-17 11:09] jhagberg commented on #54
I do not think that does anything bad.
But please correct it  when you have time.

On Mon, Sep 17, 2012 at 1:06 PM, Samuel Lampa notifications@github.comwrote:

[2012-09-17 11:16] pontus commented on #54
Fixed.

[2012-09-17 11:17] #54 closed, assigned to jhagberg

[2012-09-17 13:19] pontus commented on #52
Removed now (resorted to iquest to find/fix resource usage before removal).

[2012-09-17 13:19] #52 closed, assigned to nobody

[2012-09-18 07:14] jhagberg commented on #43
Is iRODS compiled with UTF8?

see
https://groups.google.com/d/msg/iROD-Chat/btlDS1o6O0Q/fTryh0hl8GMJ

have to uncomment:
#UNI_CODE=1
in config/config.mk

[2012-09-18 07:27] jhagberg opened #55 "Clear cache rule do not work with strange files"
The rule still do not work on strange file names. I have not got any response from iRODS chat about this.

[code]

[2012-09-18 07:35] pontus commented on #55
Yeah, didn't I say they did a quick fix for spaces? Those files are POC
for things that it still breaks for, I'll remove them now.

(I don't think anyone wants to do a proper fix right now, pherhaps when
3.2 is out the door.)

   /Pontus

[2012-09-18 07:43] samuell opened #56 "Inactivate project folders for p- and s-projects"
Fixed (see https://github.com/UPPMAX/irods/commit/224b56083d0bdd4b94ef2f0389105bd296f0ff22 )

[2012-09-18 07:43] #56 closed, assigned to samuell

[2012-09-18 13:55] samuell commented on #34
There is a problem naming it only "swestore", since it will be ambigious in regard to at least two other possible zones:
- Our own second Swestore zone, for legacy Swestore data
- Swestore's own (probably to appear within the nearest future) iRODS zone/install

Thus, we would need to have a UPPNEX-unique name somehow including Swestore, which still does not get too long. "uppnex-swestore" or "uppn

[2012-09-18 14:51] pontus commented on #53
Changed a while ago, hope it stays that way after a reboot.

[2012-09-18 14:51] #53 closed, assigned to pontus

[2012-09-18 14:53] pontus commented on #36
AFAICT module has no support for this per se. Added for bash and tcsh (module doesn't seem to work right away for tcsh anyway, but if it does, it'll have completion).

Completion is kinda funky foir the /ssUppnexZone part (inserts an extra / at the beginning, causing things to go haywire), we'll se if that's a nuisance enough to fix.

[2012-09-18 14:53] #36 closed, assigned to samuell

[2012-09-18 15:48] brainstorm commented on #34
I would go for simply "swestore" for our new archiving system and then "swestore-legacy" or "swestore-old" for the old archival methods. That will force us to deprecate the "old" zone in favor of the new one, over time, not ASAP.

Otherwise we will end up with a too fragmented namespace, which is discouraged by iRODS philosophy itself and usability reasons.

[2012-09-18 16:32] pontus commented on #34
Just in case that wasn't clear; we expect (warranted or not) the launch of
a central iRODS zone for Swestore that we don't want name collisions with.

[2012-09-19 12:54] jhagberg commented on #36
I think it works nice if you leave out the zone name!

[2012-09-19 12:58] pontus commented on #36
Yeah.

After some investigation, it seems nothing is wrong with the actual completion.

What's happening is that it exposes an internal problem in the irods string handling causing this behaviour:

$ ils //ssUppnexZone/
ERROR: lsUtil: srcPath /ssUppexxZone does not exist or user lacks access permission
$

I'll take it up on irods chat.

[2012-09-19 13:01] jhagberg commented on #36
Works for me I start by typing ils /s and it tab completes to:

ils //ssUppnexZone/
/ssUppnexZone:
  C- /ssUppnexZone/home
  C- /ssUppnexZone/proj
  C- /ssUppnexZone/trash

[2012-09-19 13:02] jhagberg commented on #36
In any subfolder tab works just fine.

 ipwd
/ssUppnexZone/proj
[haggan@u5 ~]$ ils ./p2009031/

(just typed ils p <tab> )

[2012-09-19 13:06] pontus commented on #36
The first completion from /s works (reasonably) fine, but trying to complete from ils //ssUppnexZone/ yields the same error as above (at least if you're using the same binaries as our users are).

But I'm more afraid about what might happen if someone's made the same error somewhere more important.

[2012-09-19 13:20] jhagberg commented on #36
I am running the module on u5
It works just fine also if i start to tab complete from //
and //ssUppnexZone/
and I can tab complete all the way down to subfolders in my b2011221 project.

[2012-09-19 13:29] pontus commented on #36
GFY. Of course, just because there's a memory related bug it doesn't mean it's always triggered (or triggered the same way on all systems).

It's entirely possible the same binaries we're using on kalkyl (that do have the problem) don't expose the bug if you're username isn't pontusf, or any other random parameter. Either way, the completion stuff works fine, it's ils that breaks.

(I've done a po

[2012-09-19 13:36] jhagberg commented on #36
I see on on kalkyl I have the same problem.

[2012-10-03 09:27] samuell opened #57 "iRODS access from home"
Investigate the options (DAVIS, iDrop web, WebDav etc) ...

[2012-10-03 10:12] #55 closed, assigned to pontus

[2012-10-03 10:14] #51 closed, assigned to nobody

[2012-10-03 10:17] samuell commented on #49
@pontus has made a script ("ssverify") for this, so closing.

[2012-10-03 10:17] #49 closed, assigned to nobody

[2012-10-03 10:19] samuell commented on #48
Should be fixed in 3.2, so closing for now.

[2012-10-03 10:19] #48 closed, assigned to jhagberg

[2012-10-03 10:21] samuell commented on #40
Going with @brainstorm 's suggestion, so closing this for now.

[2012-10-03 10:21] #40 closed, assigned to nobody

[2012-10-03 10:29] samuell commented on #38
Just discussed this with @pontus and @jhagberg . This is obviously a design decision of iRODS. We assume the slow imv has to be good enough, so let's activate the imv command (remove the imv alias).

[2012-10-03 10:40] samuell commented on #35
We don't care about this for now, so closing.

[2012-10-03 10:41] samuell commented on #34
I think it is quite clear now (based on some mail discussions also) that we should keep the zone folders, to be in line with iRODS conventions.

[2012-10-03 10:41] #34 closed, assigned to nobody

[2012-10-03 10:43] samuell commented on #18
Someone suspected that it might be related to changing core.re on a running server. Workaround would be to always do a restart after a change in core.re or change it only on a closed server.

[2012-10-03 10:43] samuell commented on #18
The workaround should be good enough, so closing.

[2012-10-03 10:43] #18 closed, assigned to pontus

[2012-10-03 10:44] brainstorm commented on #35
Well, it's definitely a bug, it doesn't seem very reasonable to have plenty of empty folders lying around, imho.

[2012-10-03 10:45] brainstorm commented on #18
Can I get at least _one_ core file before implementing that workaround?

[2012-10-03 11:29] samuell opened #58 "Investigate ways to copy metadata when copying files"
This is not possible for icp:s (only when moving files with imv). How can it be worked around or fixed?

[2012-10-03 12:06] jhagberg commented on #35
I agree with @brainstorm I can open a case on iRODS chat.

[2012-10-03 12:13] jhagberg commented on #35
Here is the case. https://groups.google.com/d/msg/iROD-Chat/aI3JWwFkMH4/RL2HWT0wIVYJ

[2012-10-04 08:53] jhagberg commented on #35
We got respond. What do you guys think about the questions?

[code]

[2012-10-04 09:18] brainstorm commented on #35
I would mirror the UNIX behaviour when passing "-rf", for instance. If those flags are present, everything (including orphan files he mentions in the thread) will be removed.

[2012-10-09 07:17] jhagberg commented on #35
@samuell @pontus

What do you say about this?

[2012-10-09 12:54] jhagberg commented on #17
@pontus Did you have some ideas here?
I have to many issues on the portal project at the moment that I have hard to find the time.

[2012-10-09 13:55] pontus commented on #17
I'll write up something to unpack move it to the new irods then.

[2012-10-09 14:03] pontus commented on #35
A microservice to remove empty directories (runnable from postprocessing the delete) is better than nothing, even though I think that should be default way.

For the moment, we can just work around this in our univmss-script in the same way the unix driver does (if there's an empty directory that we want to replace with a file, remove (rename it).

So this wouldn't be a prioritized problem for us.

[2012-10-09 14:05] jhagberg commented on #35
Yes but I guess I should reply something as a common courtesy

[2012-10-09 14:19] pontus commented on #35
A msi for it would be desirable (out of symmetry if nothing else), so I'd say thanks and that it would be great to have such a microservice, but mention that we'll work around it.

[2012-10-17 12:35] brainstorm commented on #17
Where is the URL for this documentation?

[2012-10-17 12:44] pontus commented on #17
https://www.uppnex.uu.se/faq/how-access-my-old-swestore-data-irods.

There is also a utility called archrest.sh (available after you've done module load irods/swestore_legacy) that helps a littile bit. And data is slowly being copied to the the new swestore structure (as is the original concern of this issue), but it'll take a few months before all is migrated).

[2012-10-17 12:46] brainstorm commented on #17
Great, thanks Pontus! :+1:

[2012-10-17 12:46] #17 closed, assigned to jhagberg